<section class="footer">
    <footer>
    	<div class="footerPosition">
    		<div class="row">
				<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 footerBlock footerSiteNavigation">
                    <div class="logotype">
                        <a href="index.html">
                            <img src="../img/homePage/header/logo_kprofil.png" alt="Карельский профиль - запад">
                        </a>
                    </div>
					<a class="footerNavLink" href="projects.html">Проекты домов</a>
					<a class="footerNavLink" href="#">Наши работы</a>
					<a class="footerNavLink" href="#">Акции</a>
					<a class="footerNavLink" href="news.html">Новости</a>
					<a class="footerNavLink" href="about.html">О компании</a>
					<a class="footerNavLink" href="contacts.html">Контакты</a>
				</div>
				<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 footerBlock footerBuildType">
					<h4 class="footerSubtitle">Типы построек</h4>
					<a class="footerBuildTypeLink" href="#">Финские</a>
					<a class="footerBuildTypeLink" href="#">Канадские</a>
					<a class="footerBuildTypeLink" href="#">HiTech</a>
					<a class="footerBuildTypeLink" href="#">Модерн</a>
					<a class="footerBuildTypeLink" href="#">Дуплексы, гостиницы</a>
					<a class="footerBuildTypeLink" href="#">Дачные и садовые</a>
					<a class="footerBuildTypeLink" href="#">Гаражи, хозблоки, бани</a>
					<a class="footerBuildTypeLink" href="#">Рамные конструкции</a>
				</div>
				<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 footerBlock footerContacts">
					<h4 class="footerSubtitle">Наши контакты</h4>
					<div class="footerPhone">
						<a href="tel:+375296789240" class="footerPhoneLink">
							<i class="fa fa-phone footerPhoneLinkIcon" aria-hidden="true"></i>
							<p class="footerPhoneLinkText">+375 (29) 678 92 40</p>
						</a>
    				</div>
    				<div class="footerPhone">
						<a href="tel:+375333461227" class="footerPhoneLink">
							<i class="fa fa-phone footerPhoneLinkIcon" aria-hidden="true"></i>
							<p class="footerPhoneLinkText">+375 (33) 346 12 27</p>
						</a>
    				</div>
    				<div class="footerLocation">
						<a href="https://www.google.ru/maps/place/Sky+Towers,+vulica+Dambro%C5%ADskaja+9,+Minsk,+%D0%91%D0%B5%D0%BB%D0%B0%D1%80%D1%83%D1%81%D1%8C/@53.9113109,27.4522671,17z/data=!3m1!4b1!4m5!3m4!1s0x46dbc52b84813315:0xba5b065b3bb31bea!8m2!3d53.9113078!4d27.4544558"  class="footerLocationLink">
							<i class="fa fa-map-marker footerLocationLinkIcon" aria-hidden="true"></i>
							<p class="footerLocationLinkText">г.Минск Домбровская 9 <br />12 этаж офис 12,2,5</p>
						</a>
    				</div>
    				<div class="footerEmail">
						<a href="mailto:oookprofilz@gmail.com" class="footerEmailLink">
							<i class="fa fa-envelope-o footerEmailLinkIcon" aria-hidden="true"></i>
							<p class="footerEmailLinkText">oookprofilz@gmail.com</p>
						</a>
    				</div>
    				<div class="footerSkype">
						<a href="skype:pavlov.a.a89?call" class="footerSkypeLink">
							<i class="fa fa-skype footerSkypeLinkIcon" aria-hidden="true"></i>
							<p class="footerSkypeLinkText">pavlov.a.a89</p>
						</a>
					</div>
				</div>
				<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 footerBlock footerSocial">
					<h4 class="footerSubtitle">Социальные сети</h4>
                	<div class="footerFacebook">
    					<a href="https://www.facebook.com/groups/1050436541719929/" class="footerFacebookLink">
    						<div class="facebookIconBorder">
    							<i class="fa fa-facebook footerFacebookIcon" aria-hidden="true"></i>
    						</div>
    						<p class="footerFacebookText">facebook</p>
    					</a>
            		</div>
                	<div class="footerVk">
    					<a href="https://vk.com/id381993598" class="footerVkLink">
    						<div class="vkIconBorder">
    						    <i class="fa fa-vk vkIcon footerVkIcon" aria-hidden="true"></i>
							</div>
    						<p class="footerVkText">v kontakte</p>
    					</a>
                	</div>
                	<div class="footerInsta">
    					<a href="https://www.instagram.com/oookprofilz/" class="footerInstaLink">
    						<div class="instaIconBorder">
    						    <i class="fa fa-instagram footerInstaIcon" aria-hidden="true"></i>
							</div>
    						<p class="footerInstaText">instagram</p>
    					</a>
                	</div> 
				</div>
			</div>
    	</div>
    	<div class="copyright">
    		<p>&#169; Good Technology For Life</p>
    	</div>
    </footer>
</section>