<section class="header">
    <header>
        <div class="topContacts">
            <div class="emailContacts">
				<div class="phone">
					<a href="tel:+375296789240" class="phoneLink">
						<i class="fa fa-phone phoneLinkIcon" aria-hidden="true"></i>
						<p class="phoneLinkText">+375 (29) 678 92 40</p>
					</a>
					<a href="tel:+375333461227" class="phoneLink">
						<i class="fa fa-phone phoneLinkIcon" aria-hidden="true"></i>
						<p class="phoneLinkText">+375 (33) 346 12 27</p>
					</a>
				</div>
				<div class="email">
					<a href="mailto:oookprofilz@gmail.com" class="emailLink">
						<i class="fa fa-envelope-o emailLinkIcon" aria-hidden="true"></i>
						<p class="emailLinkText">oookprofilz@gmail.com</p>
					</a>
				</div>
				<div class="skype">
					<a href="skype:pavlov.a.a89?call" class="skypeLink">
						<i class="fa fa-skype skypeLinkIcon" aria-hidden="true"></i>
						<p class="skypeLinkText">pavlov.a.a89</p>
					</a>
				</div>
            </div>
            <div class="headerMobile">
                <h2>Карельский профиль - запад</h2>
            </div>
            <div class="socialContacts">
            	<div class="facebook">
					<a href="https://www.facebook.com/groups/1050436541719929/" class="facebookLink">
						<i class="fa fa-facebook facebookIcon" aria-hidden="true"></i>
					</a>
        		</div>
            	<div class="vk">
					<a href="https://vk.com/id381993598" class="vkLink">
					    <i class="fa fa-vk vkIcon" aria-hidden="true"></i>
					</a>
            	</div>
            	<div class="insta">
					<a href="https://www.instagram.com/oookprofilz/" class="instaLink">
					    <i class="fa fa-instagram instaIcon" aria-hidden="true"></i>
					</a>
            	</div> 
            </div>
        </div>
        <div class="navigationContainer">
            <div class="logotype">
                <a href="index.html">
                    <img src="../img/homePage/header/logo_kprofil.png" alt="Карельский профиль - запад">
                </a>
            </div>
            
            <nav id="menu" class="panel" role="navigation">
				<ul>
					<li><a href="projects.html" class="navLink underlineHover">Проекты домов</a></li>
                    <li><a href="ourWorkPage.html" class="navLink underlineHover">Наши работы</a></li>
                    <li><a href="blog.html" class="navLink underlineHover">Блог</a></li>
                    <li><a href="news.html" class="navLink underlineHover">Новости</a></li>
                    <li><a href="about.html" class="navLink underlineHover">О компании</a></li>
                    <li><a href="contacts.html" class="navLink underlineHover">Контакты</a></li>
				</ul>
			</nav>
			<div class="wrap push">
				<a href="#menu" class="menu-link">
					<i class="fa fa-bars fa-2x" aria-hidden="true"></i>
				</a>
			</div>
            
            <nav class="navigation navbar">
                <ul class="nav nav-tabs">
                    <li><a href="projects.html" class="navLink underlineHover">Проекты домов</a></li>
                    <li><a href="ourWorkPage.html" class="navLink underlineHover">Наши работы</a></li>
                    <li><a href="blog.html" class="navLink underlineHover">Блог</a></li>
                    <li><a href="news.html" class="navLink underlineHover">Новости</a></li>
                    <li><a href="about.html" class="navLink underlineHover">О компании</a></li>
                    <li><a href="contacts.html" class="navLink underlineHover">Контакты</a></li>
                </ul>
            </nav>
        </div>
    </header>
</section>




























































































