@model IList<Nop.Plugin.Widgets.Gallery.Models.PublicInfoGalleryModel>
@using Nop.Web.Framework.UI
@{
    Layout = "";
}

 <li><a href="@Url.RouteUrl("GalleryPlugin")">@T("Plugin.Widgets.Gallery")</a></li>
