@media only screen and (min-width:1680px) {
body {
    max-width: 1920px;
    margin: 0 auto;
    font-size: 20px;
}
.temporarilyCap {
    .title {
        font-size: 2em;
    }
}
.ourWorks {
	padding-bottom: 3%;
	.row {
		.slide {
			.my-gallery {
				figure {
					.nameProject {
						margin-top: 5%;
						margin-bottom: 0;
					}
				}
			}
			.moreImg {
				.btn {
					margin-top: 30px;
					width: 65%;
				}
			}
		}
	}
}
}


@media only screen and (max-width:1680px) {
.ourWorks {
	.galleryTitle {
		padding-top: 5%;
		margin-bottom: 0;
	}
	.row {
		.slide {
			.my-gallery {
				figure {
					.nameProject {
						margin-bottom: 1%;
					}
				}
			}
			.moreImg {
				.btn {
					margin-top: 25px;
					width: 60%;
				}
			}
		}
	}
}
}


@media only screen and (max-width:1370px) {
 body {
    font-size: 13px;
}
.ourWorks {
	padding-bottom: 4%;
	.galleryTitle {
		padding-top: 5%;
	}
	.row {
		.slide {
			.my-gallery {
				figure {
					.descriptionProject {
				        font-size: .9em;
					}
				}
			}
		}
	}
}
}


@media only screen and (max-width:1199px) {
.ourWorks {
	padding-bottom: 2%;
	.galleryTitle {
		text-align: center;
		padding-top: 4%;
	}
    .row:first-of-type {
        padding-top: 35px;
    }
	.row {
		width: 95%;
		.slide {
			.my-gallery {
				figure {
                    min-width: 200px;
                    max-height: 210px;
					img {
						height: 250px;
					}
				}
			}
		}
	}
}
}


@media only screen and (max-width:992px) {
body {
    font-size: 14px;
}
.ourWorks {
	.row {
        padding-bottom: 3%;
		.slide {
            padding: 0;
			.my-gallery {
                padding: 3em 0 0em;
				figure {
                    max-height: 290px;
                    float: none;
                    margin: 0 auto;
					img {
						height: 320px;
					}
					.nameProject {
				        font-size: 2em;
						margin-top: 9%;
						margin-bottom: 4%;
					}
					.descriptionProject {
				        font-size: 1em;
					}
				}
			}
		}
	}
	.row:first-of-type {
		padding-top: 45px;
    }
}
}


@media only screen and (max-width:768px) {
 body {
    font-size: 13px;
}
.ourWorks {
	.row {
		.slide {
			.my-gallery {
                padding: 2em 0 0;
				figure {
				}
			}
		}
	}
	.row:first-of-type {
        padding-top: 15px;
    }
}
}

@media only screen and (max-width:500px) {
body {
    font-size: 12px;
}
.ourWorks {
	.row {
		width: 100%;
		.slide {
			.my-gallery {
				figure {
                    max-height: 230px;
					img {
						height: 260px;
					}
					.nameProject {
						margin-top: 15%;
					}
				}
			}
			.moreImg {
				.btn {
                    font-size: 1.3em;
					margin-top: 15px;
					width: 80%;
				}
			}
		}
	}
	.row:first-of-type {
		padding-top: 50px;
    }
}
}


@media only screen and (max-width:350px) {
body {
    font-size: 11px;
}
.ourWorks {
    .row:first-of-type {
        padding-top: 10px;
    }
}
}
