.passwordResetPage{
	margin: 0 auto;
	.passwordResetTitle {
		margin-top: 4em;
		margin-bottom: 2em;
		text-align: center;
		.title {
			@include input-font($OswardFont, 3em, $textColor5, 2px, normal);
		}
	}
	.page-body {
		form {
			text-align: center;
			.fieldset {
				.form-fields {
					.inputs {
						label {
							@include input-font($RobotoRegularFont, 1.3em, $textColor5, 0, normal);
						}
						.alert {
							position: absolute;
						}
					}
				}
			}
			.buttons {
				margin-top: 2em;
				input {
					@include input-font($RobotoRegularFont, 1.2em, #fff, 0, normal);
					display: block;
					border-radius: 0;
					margin: 0 auto;
					padding: 10px 45px;
					transition: all .4s;
					background-color: rgb(28,28,28);
					text-align: center;
					text-decoration: none;
					text-transform: capitalize;
					border: 1px solid rgba(1, 1, 1, 0);
					margin-bottom: 60px;
				}
				input:hover {
					background-color: #fff;
					color: rgb(28,28,28);
					border: 1px solid rgb(28,28,28);
				}
			}
		}
	}
}