.moreNewPage {
	width: 100%;
	background-image: url(../img/newsPage/bg.jpg);
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-size: cover;
    opacity: 1.0;
	padding-top: 60px;
	.moreNewPageTitle {
		@include input-font($OswardFont, 50px, $newsTitleColor, 0, 600);
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 50px;
	}
	.moreNewContentPosition {
		width: 90%;
		margin: 0 auto;
		padding-bottom: 100px;
		.moreNewPost {
			background-color: rgba(255, 255, 255, 0.7);
			.titleImg {
				height: 500px;
				overflow: hidden;
				img {
					width: 100%;
				}
			}
			.postText {
				padding: 0 40px 60px 40px;
				.postTitle {
					@include input-font($OswardFont, 35px, $textColor1, 0, bold);
					text-transform: uppercase;
					margin-bottom: 20px;
					margin-top: 60px;
				}
				.postDate {
					@include input-font($RobotoRegularFont, 14px, $textColor1, 0, 200);
					margin-bottom: 30px;
				}
				.postContent {
					@include input-font($regularFont, 15px, $textColor6, 0, 400);
					line-height: 28px;
    				margin-bottom: 0;
				}
				.my-gallery {
					img {
						max-width: 300px;
    					height: auto;
						margin: 20px;
					}
					figcaption {
						display: none;
					}
				}
				.backBtnContainer {
					transition: all .4s;
					height: 50px;
					width: 230px;
					background-color: #fff;
					border: 2px solid $newsTextColor;
					line-height: 50px;
					text-align: center;
					margin: 50px auto 0 auto;
					text-transform: capitalize;
					.backBtn {
						text-decoration: none;
						@include input-font($RobotoRegularFont, 14px, $newsTextColor, 0, normal);
						@include inlineBlock();
						.fa {
							padding-right: 15px;
						}
					}
				}
				.backBtnContainer:hover {
					background-color: $topMenuColor;
					border: 2px solid $topMenuColor;
					.backBtn {
						color: #fff;
						.fa {
							padding-right: 20px;
							-webkit-transition: all 0.4s ease-out 0s;
							-moz-transition: all 0.4s ease-out 0s;
							-o-transition: all 0.4s ease-out 0s;
							transition: all 0.4s ease-out 0s;
						}
					}
				}
			}
		}
	}
}