/*----- VARIABLES -----*/

//Fonts
$regularFont: OpenSansRegular;
$RobotoRegularFont: RobotoRegular;
$OswardFont: OswaldRegular;
$RalewayFont: RalewayRegular;


//Colors
$mainColor: #ffde00;
$topMenuColor: #2e2e2e;
$textColor1: #111;
$textColor2: #2d2d2d;
$textColor3: #fff;
$textColor4: rgb(35, 35, 35);
$textColor5: #1c1c1c;
$textColor6: rgb(132,132,132);
$bgPartnersColor: #ededed;
$bgFooterColor: #ffcc00;
$borderFooterColor: #cca300;
$footerTextColor: #836900;
$newsTitleColor: rgb(67,67,67);
$newsTextColor: rgb(169,169,169);
$lightBgColor: #f0f0f0;
$lightTextColor: #797979;